# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# ML Files generated (on veut éviter de versionner les gros binaires et logs locaux)
models/*.joblib
reports/*.json
reports/*.txt
mlruns/
screenshots/
description/

# System specific
.DS_Store

